<section class="white-bg pb-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-8">
              <div class="section-heading text-left">
                <h2 class="wow fadeTop josefin-font" data-wow-delay="0.1s">Featured Works</h2>
              </div>
            </div>
            <div class="col-md-4">
              <div class="scoda-swiper pagination-style-01">
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
          <div class="col-md-12">
            <div class="swiper-container">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="work-item-wrap">
                    <div class="work-item-thumbnail">
                      <a href="single-portfolio.html">
                        <img src="http://www.incognitothemes.com/scoda/assets/images/portfolio/grid/21.jpg" alt="21" />
                      </a>
                    </div>
                    <div class="work-item-info">
                      <h3 class="josefin-font">Why Good Designers Are Like Crocodiles</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pretium efficitur ex, vitae euismod ligula.</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="work-item-wrap">
                    <div class="work-item-thumbnail">
                      <a href="single-portfolio.html">
                        <img src="http://www.incognitothemes.com/scoda/assets/images/portfolio/grid/22.jpg" alt="22" />
                      </a>
                    </div>
                    <div class="work-item-info">
                      <h3 class="josefin-font">How Metallics Became Basic</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pretium efficitur ex, vitae euismod ligula.</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="work-item-wrap">
                    <div class="work-item-thumbnail">
                      <a href="single-portfolio.html">
                        <img src="http://www.incognitothemes.com/scoda/assets/images/portfolio/grid/23.jpg" alt="23" />
                      </a>
                    </div>
                    <div class="work-item-info">
                      <h3 class="josefin-font">Designing The Envato Design Framework</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pretium efficitur ex, vitae euismod ligula.</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="work-item-wrap">
                    <div class="work-item-thumbnail">
                      <a href="single-portfolio.html">
                        <img src="http://www.incognitothemes.com/scoda/assets/images/portfolio/grid/24.jpg" alt="24" />
                      </a>
                    </div>
                    <div class="work-item-info">
                      <h3 class="josefin-font">The Rules of Designing UX for Millennials</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer pretium efficitur ex, vitae euismod ligula.</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
      </div>
    </div>
  </section>