{% load i18n wagtailcore_tags wagtailimages_tags %}
{% load widget_tweaks %}
{% load static %}


<section>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 section-heading">
          <h2 class="text-uppercase">Our Blogs</h2>
          <h4 class="text-uppercase source-font">- Latest News -</h4>
        </div>
      </div>
      {% for post in posts %}
      {{ post.body }}
      {% endfor %}
      

      <div class="row mt-50">
        <div class="col-md-12 remove-padding">
          <div class="owl-carousel blog-slider">
            <div class="post">
              <div class="post-img"> <img class="img-responsive" src="assets/images/post/post-01.jpg" alt=""/> </div>
              <div class="post-info">
                <h3><a href="blog-grid.html">The best hidden gems of Washington State</a></h3>
                <h6>April 28, 2017</h6>
                <p>Curabitur quis faucibus odio, nec accumsan erat. Duis id ante convallis magna mattis pulvinar eu ut ipsum. Donec at leo id tortor mattis tempus...</p>
                <a class="readmore" href="blog-carousel.html#"><span>Read More</span></a> </div>
            </div>
            <!--=== Post End ===-->
            <div class="post">
              <div class="post-img"> <img class="img-responsive" src="assets/images/post/post-02.jpg" alt=""/> </div>
              <div class="post-info">
                <h3><a href="blog-grid.html">Top 10 Fastest Cars in the World</a></h3>
                <h6>May 9, 2015</h6>
                <p>Curabitur quis faucibus odio, nec accumsan erat. Duis id ante convallis magna mattis pulvinar eu ut ipsum. Donec at leo id tortor mattis tempus...</p>
                <a class="readmore" href="blog-carousel.html#"><span>Read More</span></a> </div>
            </div>
            <!--=== Post End ===-->
            <div class="post">
              <div class="post-img"> <img class="img-responsive" src="assets/images/post/post-03.jpg" alt=""/> </div>
              <div class="post-info">
                <h3><a href="blog-grid.html">The Perfect Music for the Perfect Party Mood</a></h3>
                <h6>November 18, 2016</h6>
                <p>Curabitur quis faucibus odio, nec accumsan erat. Duis id ante convallis magna mattis pulvinar eu ut ipsum. Donec at leo id tortor mattis tempus...</p>
                <a class="readmore" href="blog-carousel.html#"><span>Read More</span></a> </div>
            </div>
            <!--=== Post End ===-->
            <div class="post">
              <div class="post-img"> <img class="img-responsive" src="assets/images/post/post-04.jpg" alt=""/> </div>
              <div class="post-info">
                <h3><a href="blog-grid.html">Want to get an expert to write on your blog</a></h3>
                <h6>Febaury 7, 2017</h6>
                <p>Curabitur quis faucibus odio, nec accumsan erat. Duis id ante convallis magna mattis pulvinar eu ut ipsum. Donec at leo id tortor mattis tempus...</p>
                <a class="readmore" href="blog-carousel.html#"><span>Read More</span></a> </div>
            </div>
            <!--=== Post End ===-->
            <div class="post">
              <div class="post-img"> <img class="img-responsive" src="assets/images/post/post-05.jpg" alt=""/> </div>
              <div class="post-info">
                <h3><a href="blog-grid.html">Great things are not accomplished who yield</a></h3>
                <h6>June 20, 2016</h6>
                <p>Curabitur quis faucibus odio, nec accumsan erat. Duis id ante convallis magna mattis pulvinar eu ut ipsum. Donec at leo id tortor mattis tempus...</p>
                <a class="readmore" href="blog-carousel.html#"><span>Read More</span></a> </div>
            </div>
            <!--=== Post End ===-->
            <div class="post">
              <div class="post-img"> <img class="img-responsive" src="assets/images/post/post-06.jpg" alt=""/> </div>
              <div class="post-info">
                <h3><a href="blog-grid.html">You are free to choose what you want to make</a></h3>
                <h6>July 30, 2014</h6>
                <p>Curabitur quis faucibus odio, nec accumsan erat. Duis id ante convallis magna mattis pulvinar eu ut ipsum. Donec at leo id tortor mattis tempus...</p>
                <a class="readmore" href="blog-carousel.html#"><span>Read More</span></a> </div>
            </div>
            <!--=== Post End ===-->
            <div class="post">
              <div class="post-img"> <img class="img-responsive" src="assets/images/post/post-07.jpg" alt=""/> </div>
              <div class="post-info">
                <h3><a href="blog-grid.html">UX/UI Design & Website/App Design</a></h3>
                <h6>September 25, 2016</h6>
                <p>Curabitur quis faucibus odio, nec accumsan erat. Duis id ante convallis magna mattis pulvinar eu ut ipsum. Donec at leo id tortor mattis tempus...</p>
                <a class="readmore" href="blog-carousel.html#"><span>Read More</span></a> </div>
            </div>
            <!--=== Post End ===-->
            <div class="post">
              <div class="post-img"> <img class="img-responsive" src="assets/images/post/post-08.jpg" alt=""/> </div>
              <div class="post-info">
                <h3><a href="blog-grid.html">Marketing Campaigns & Content Creation</a></h3>
                <h6>October 16, 2010</h6>
                <p>Curabitur quis faucibus odio, nec accumsan erat. Duis id ante convallis magna mattis pulvinar eu ut ipsum. Donec at leo id tortor mattis tempus...</p>
                <a class="readmore" href="blog-carousel.html#"><span>Read More</span></a> </div>
            </div>
            <!--=== Post End ===-->
          </div>
        </div>
      </div>
    </div>
  </section>