{% extends "sblshop/base.html" %}
{% load i18n wagtailcore_tags wagtailimages_tags %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
  Your shopping cart
{% endblock %}

{% block content %}
{% include 'shop/header.html' %}

<section class="pt-50 pb-50 dark-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
       
      </div>
      <div class="col-md-1"></div>
   
    </div>
  </div>
</section>

<section>
  
  <div class="container">
    <div class="row">
      <div class="col-md-12 terms">
        <h2 class="font-700">{% trans 'Your SmartQuail shopping cart' %}</h2>
        <ul class="careers-listing">
          {% for item in cart %}
          {% with product=item.product %}
          <li>
           
            <div class="row">
              <div class="career-main col-md-6">
                <h5 class="font-700">{{product.name}}</h5>
                <span class="default-color career-type">{% trans 'Price' %}: ${{ item.price }}
                </span> <span class="career-location"><i class="icofont icofont-google-map-circle"></i>{% trans 'Description' %}: {{item.description}}</span> </div>
            
                <div class="col-md-3 career-category"><span>{% trans 'Subtotal price' %}: ${{ item.total_price }} </span></div>
              <div class="career-details col-md-3"> 
                <form action="{% url "sblcart:cart_add" product.id %}" method="post">
                  {{ item.update_quantity_form.quantity }}
                  {{ item.update_quantity_form.update }}
                  <input type="submit" class="btn btn-color btn-square btn-animate" value="Update">
                  {% csrf_token %}
                </form>  
                <a class="btn btn-dark btn-square btn-animate" href="{% url "sblcart:cart_remove" product.id %}">{% trans 'Remove' %}</a>   
            </div>
           
          </li>
          {% endwith %}
          {% endfor %}
        </ul>
        <h2 class="mt-80 font-700"> {% trans 'TOTAL PRICE'%}: ${{ cart.get_total_price }}</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eget nisl gravida, interdum nunc quis, faucibus ligula. Nam eu neque nunc. Suspendisse egestas dolor ante, nec tincidunt sem malesuada at. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi vehicula metus sit amet turpis malesuada commodo.</p>
      </div>
      <a href="{% url "sblshop:product_list" %}" class="btn btn-dark btn-square btn-animate">{% trans 'Continue shopping' %}</a>
      <a href="{% url "sblorders:order_create" %}" class="btn btn-color btn-square btn-animate">
        {% trans 'Checkout' %}
      </a>
    </div>
  </div>
</section>


{% endblock %}