{% load i18n wagtailcore_tags wagtailimages_tags %}
{% load widget_tweaks %}
{% load webapp_0_tags %}
{% load static %}
{% load menu_tags %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_current_language as LANGUAGE_CODE %}




  <!--=== Header Start ===-->
  <nav class="navbar navbar-default navbar-fixed navbar-transparent white bootsnav on no-full">
    <!--=== Start Top Search ===-->
    <div class="fullscreen-search-overlay" id="search-overlay"> <a href="index.html#" class="fullscreen-close" id="fullscreen-close-button"><i class="icofont icofont-close"></i></a>
      <div id="fullscreen-search-wrapper">
                    <!--=== Form ===-->
                    <form method="post" class="form login_type text-center" id="fullscreen-searchform" >
                      <!--=== Username ===-->
                      <input type="text" name="username" class="form-control mb-20" placeholder="Username">
                      <!--=== Password ===-->
                      <input type="password" name="password" class="form-control mb-20" placeholder="Password">
                      <!--=== Submit ===-->
                      <button type="submit" name="login" class="btn btn-color btn-circle full-width">LOGIN</button>
                      <!--=== Signup Text ===-->
                      <h6 class="mt-20 gray-light"> DON'T HAVE AN ACCOUNT? </h6>
                      <!--=== Signup Button ===-->
                      <a href="login.html#">SIGN UP <i class="fa fa-angle-double-right"></i> </a>
                    </form>
                    <!--=== End Form ===-->
                 
      
      </div>
    </div>
    <!--=== End Top Search ===-->

    <div class="container">
      <!--=== Start Atribute Navigation ===-->
      <div class="attr-nav">
        <ul>
          <li class="dropdown"> <a href="index.html#" class="dropdown-toggle" data-toggle="dropdown" > <i class="icofont icofont-earth"></i>  </a>
            {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
               
            <ul class="dropdown-menu cart-list">
                {% for language in languages %}
              <li>
                <a href="/{{language.code}}/">
                 <h5>{{ language.name_local }}</h5>
                 </a>
              </li>
              {% endfor %}
            </ul>
          </li>
     
          <li class="search"><a href="index.html#" id="search-button"><i class="icofont icofont-user"></i>{% trans 'Login' %}</a></li>
        </ul>

      </div>
      <!--=== End Atribute Navigation ===-->

      <!--=== Start Header Navigation ===-->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="icofont icofont-navigation-menu"></i> </button>
        <div class="logo"> <a href="index.html"> <img class="logo logo-display" src="{% static 'img/logo_smartquailWhite.png' %}" alt=""> 
          <img class="logo logo-scrolled"  src="{% static 'img/logoSQ_responsive.png' %}" alt=""> </a> </div>
      </div>
      <!--=== End Header Navigation ===-->

      <!--=== Collect the nav links, forms, and other content for toggling ===-->
      <div class="collapse navbar-collapse" id="navbar-menu">
        <ul class="nav navbar-nav" data-in="fadeIn" data-out="fadeOut">
          <li class="dropdown megamenu-fw"> <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Products' %}</a>
            <ul class="dropdown-menu megamenu-content" role="menu">
              <li>
                <div class="row">
                  <div class="col-menu col-md-3">
                    {% smartbusinessmedia_menus as menus %}
                    {% for menu in menus %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/home/navbar/products/smartbusinessmedia.html" %}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col-menu col-md-3">
                    {% smartbusinessanalytics_menus as menus2 %}
                    {% for menu in menus2 %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/home/navbar/products/smartbusinessanalytics.html" %}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col-menu col-md-3">
                    {% smartbusinesslaw_menus as menus %}
                    {% for menu in menus %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/home/navbar/products/smartbusinesslaw.html" %}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col-menu col-md-3">
                    {% smartbusinesstechnologies_menus as menus %}
                    {% for menu in menus %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/home/navbar/products/smartbusinesstechnologies.html" %}
                    </div>
                    {% endfor %}
                  </div>
               
                </div>
                <!--=== end row ===-->
              </li>
            </ul>
          </li>
          <li class="dropdown megamenu-fw"> <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Solutions' %}</a>
            <ul class="dropdown-menu megamenu-content" role="menu">
              <li>
                <div class="row">
                  <div class="col-menu col-md-3">
                    {% bycategory_menus as menus %}
                    {% for menu in menus %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/home/navbar/solutions/bycategory.html" %}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col-menu col-md-3">
                    {% byorganizationtype_menus as menus2 %}
                    {% for menu in menus2 %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/home/navbar/solutions/byorganizationtype.html" %}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col-menu col-md-3">
                    {% bycustomer_menus as menus %}
                    {% for menu in menus %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/home/navbar/solutions/bycustomer.html" %}
                    </div>
                    {% endfor %}
                  </div>

               
                </div>
                <!--=== end row ===-->
              </li>
            </ul>
          </li>
          <li class="dropdown megamenu-fw"> <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Training & Jobs' %}</a>
            <ul class="dropdown-menu megamenu-content" role="menu">
              <li>
                <div class="row">
                  <div class="col-menu col-md-3">
                    {% training_menus as menus %}
                    {% for menu in menus %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/home/navbar/training/training.html" %}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col-menu col-md-3">
                    {% jobs_menus as menus2 %}
                    {% for menu in menus2 %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/home/navbar/training/jobs.html" %}
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <!--=== end row ===-->
              </li>
            </ul>
          </li>
          <li class="dropdown megamenu-fw"> <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Resources' %}</a>
            <ul class="dropdown-menu megamenu-content" role="menu">
              <li>
                <div class="row">
                  <div class="col-menu col-md-3">
                    {% ourvision_menus as menus %}
                    {% for menu in menus %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/home/navbar/resources/ourvision.html" %}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col-menu col-md-3">
                    {% topics_menus as menus2 %}
                    {% for menu in menus2 %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/home/navbar/resources/topics.html" %}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col-menu col-md-3">
                    {%  articles_menus as menus %}
                    {% for menu in menus %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/home/navbar/resources/articles.html" %}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col-menu col-md-3">
                    {% news_menus as menus %}
                    {% for menu in menus %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/home/navbar/resources/news.html" %}
                    </div>
                    {% endfor %}
                  </div>
               
                </div>
                <!--=== end row ===-->
              </li>
            </ul>
          </li>
          <li class="dropdown megamenu-fw"> <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Parthers' %}</a>
            <ul class="dropdown-menu megamenu-content" role="menu">
              <li>
                <div class="row">
                  <div class="col-menu col-md-3">
                    {% forcustomers_menus as menus %}
                    {% for menu in menus %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/home/navbar/forcustomers.html" %}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col-menu col-md-3">
                    {% forpartners_menus as menus2 %}
                    {% for menu in menus2 %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/home/navbar/forpartners.html" %}
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <!--=== end row ===-->
              </li>
            </ul>
          </li>
          <li class="dropdown megamenu-fw"> <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">{% trans 'About' %}</a>
            <ul class="dropdown-menu megamenu-content" role="menu">
              <li>
                <div class="row">
                  <div class="col-menu col-md-3">
                    {% aboutus_menus as menus %}
                    {% for menu in menus %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/home/navbar/aboutus/aboutus.html" %}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col-menu col-md-3">
                    {% opensource_menus as menus2 %}
                    {% for menu in menus2 %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/home/navbar/aboutus/opensource.html" %}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col-menu col-md-3">
                    {% companydetails_menus as menus %}
                    {% for menu in menus %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/home/navbar/aboutus/companydetails.html" %}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="col-menu col-md-3">
                    {% communities_menus as menus %}
                    {% for menu in menus %}
                    <h6 class="title">{{menu.heading}}</h6>
                    <div class="content">
                      {% flat_menu menu.handle template="webapp/home/navbar/aboutus/communities.html" %}
                    </div>
                    {% endfor %}
                  </div>
               
                </div>
                <!--=== end row ===-->
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!--=== /.navbar-collapse ===-->
    </div>
  </nav>