{% extends "webapp/base.html" %}
{% load i18n wagtailcore_tags wagtailimages_tags %}
{% load widget_tweaks %}
{% load webapp_0_tags %}
{% load static %}
{% load menu_tags %}

{% block content %}
{% for item in page.galleria_contacus.all %}
{% image item.image scale-100 as s1 %}
<style>
  .contact-cover-bg {
	background-image: url('{{s1.url}}');
}
</style>
{% endfor %}

{% main_menu template="webapp/home//header.html" %}



<section class="title-hero-bg contact-cover-bg"  data-stellar-background-ratio="0.2">
    <div class="container">
      <div class="page-title text-center">
        <h1>{% trans 'Contact us' %}</h1>
        <h4 class="text-uppercase mt-30 white-color">{% trans 'Customer Support 24 Hours' %}</h4>
      </div>
    </div>
    
  </section>

  


    <!--=== Contact Us Start ======-->
    <section class="contact-us dark-bg">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <form action="{% pageurl page %}" method="POST" class="mt-50">
                <div class="messages"></div>
                {% csrf_token %}
                {% for hidden_field in form.hidden_fields %}
                  {{ hidden_field }}
                {% endfor %}
              
                {% if form.non_field_errors %}
                  <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
              
                
                  <div class="form-group">
                    {% for field in form.visible_fields %}
                    {{ field.label_tag }}
              
                    {% if form.is_bound %}
                      {% if field.errors %}
                        {% render_field field class="form-control is-invalid" %}
                        {% for error in field.errors %}
                          <div class="invalid-feedback">
                            {{ error }}
                          </div>
                        {% endfor %}
                      {% else %}
                        {% render_field field class="form-control is-valid" %}
                      {% endif %}
                    {% else %}
                      {% render_field field class="form-control" %}
                    {% endif %}
              
                    {% if field.help_text %}
                      <small class="form-text text-muted">{{ field.help_text }}</small>
          
                    {% endif %}
                    {% endfor %} 
                   
                  </div>
                  <button  type="submit"  class="btn btn-color btn-circle wow fadeTop" data-wow-delay="0.4s">{% trans 'Send' %}</button>                
            </form>
           
            </div>
            <div class="col-md-4">
              <h3 class="white-color">{% trans 'Location' %}</h3>
              <address>
              Francisco Salazar ,<br>
              Quito, Ecuador<br>
              (+593) 9 9635-21262<br>
              <a href="#">info@smartquail.io</a>
              </address>
              <h3 class="white-color">{% trans 'Global Location' %}</h3>
              <h3 class="white-color">{% trans 'Work Timings' %}</h3>
              <p> <span>Mon - Fri: 6am to 24pm</span> <br>
                <span>Sat : 8am to 24pm</span> </p>
            </div>
          </div>
        </div>
      </section>
      
    
      
{% include 'webapp/home/footer_section.html' %}


{% endblock %}







