{% load wagtailcore_tags wagtailimages_tags %}
{% load widget_tweaks %}
{% load webapp_0_tags %}
{% load static %}

  
  <!--=== Testimonails Start ===-->
  <section class="parallax-bg-18 fixed-bg" data-stellar-background-ratio="0.2">
    <div class="overlay-bg"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 section-heading white-color">
          <h2 class="wow fadeTop" data-wow-delay="0.1s">Testimonials</h2>
          <h4 class="text-uppercase wow fadeTop" data-wow-delay="0.2s">- Happy Clients -</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="slick testimonial">
            <!--=== Slide ===-->
            <div class="testimonial-item">
              <div class="testimonial-content"> <img class="img-responsive img-circle" src="assets/images/team/avatar-1.jpg" alt="avatar-1"/>
                <h5>Michael Hans</h5>
                <p>Founder &amp; CEO of Scoda </p>
                <h4>Quisque hendrerit turpis sit amet tortor condimentum, nec commodo lorem condimentum. Sed id diam efficitur, mattis tellus ac, malesuada purus. In ultrices nisl sed eleifend consequat.</h4>
              </div>
            </div>
            <!--=== Slide ===-->
            <div class="testimonial-item">
              <div class="testimonial-content"> <img class="img-responsive img-circle" src="assets/images/team/avatar-2.jpg" alt="avatar-1"/>
                <h5>Jane Beck</h5>
                <p>CEO of Scoda</p>
                <h4>Quisque hendrerit turpis sit amet tortor condimentum, nec commodo lorem condimentum. Sed id diam efficitur, mattis tellus ac, malesuada purus. In ultrices nisl sed eleifend consequat.</h4>
              </div>
            </div>
            <!--=== Slide ===-->
            <div class="testimonial-item">
              <div class="testimonial-content"> <img class="img-responsive img-circle" src="assets/images/team/avatar-3.jpg" alt="avatar-1"/>
                <h5>Kevin Hall</h5>
                <p>CEO of Scoda</p>
                <h4>Quisque hendrerit turpis sit amet tortor condimentum, nec commodo lorem condimentum. Sed id diam efficitur, mattis tellus ac, malesuada purus. In ultrices nisl sed eleifend consequat.</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--=== Testimonails End ===-->