
{% load wagtailcore_tags wagtailimages_tags %}
{% load widget_tweaks %}
{% load webapp_0_tags %}
{% load static %}

  <!--=== Who We Are Start ===-->
  <section class="first-ico-box">
    <div class="dn-bg-lines">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="left_parallax">
      <div class="vertical-text">
        <h3 data-lax-preset="driftRight" data-lax-optimize=true class="lax chunkyText font-700 dark-color">Design</h3>
      </div>
    </div>
    <div class="right_parallax">
      <h3 data-lax-preset="driftLeft" data-lax-optimize=true class="lax chunkyText font-700 red-color">Creative.</h3>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 section-heading">
          <h2 class="wow fadeTop" data-wow-delay="0.1s">We're Scoda Agency</h2>
          <h4 class="text-uppercase wow fadeTop" data-wow-delay="0.2s">- The way we work is fun -</h4>
          <p class="mt-30 wow fadeTop" data-wow-delay="0.3s">We are a fully in-house digital agency focusing on branding, marketing, web design and development with clients ranging from start-ups. We pride ourselves on partnering with clients in order to give the most transparent and educational experience.</p>
        </div>
      </div>
      <div class="row mt-50">
        <div class="col-md-4 feature-box text-center radius-icon wow fadeTop" data-wow-delay="0.1s"> <i class="icofont icofont-ui-theme font-50px default-icon"></i>
          <h4 class="text-uppercase">Branding</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce efficitur congue erat ac molestie.</p>
        </div>
        <div class="col-md-4 feature-box text-center radius-icon wow fadeTop" data-wow-delay="0.2s"> <i class="icofont icofont-responsive font-50px default-icon"></i>
          <h4 class="text-uppercase">Design & Development</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce efficitur congue erat ac molestie.</p>
        </div>
        <div class="col-md-4 feature-box text-center radius-icon wow fadeTop" data-wow-delay="0.3s"> <i class="icofont icofont-zigzag font-50px default-icon"></i>
          <h4 class="text-uppercase">Marketing</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce efficitur congue erat ac molestie.</p>
        </div>
      </div>
    </div>
  </section>
  <!--=== Who We Are End ===-->