<section class="pt-50 pb-50 white-bg">
    <div class="container">
      <div class="row">
        <div id="client-slider" class="owl-carousel">
          <div class="client-logo"> <img class="img-responsive" src="http://www.incognitothemes.com/scoda/assets/images/clients/1.png" alt="01"/> </div>
          <div class="client-logo"> <img class="img-responsive" src="http://www.incognitothemes.com/scoda/assets/images/clients/2.png" alt="02"/> </div>
          <div class="client-logo"> <img class="img-responsive" src="http://www.incognitothemes.com/scoda/assets/images/clients/3.png" alt="03"/> </div>
          <div class="client-logo"> <img class="img-responsive" src="http://www.incognitothemes.com/scoda/assets/images/clients/4.png" alt="04"/> </div>
          <div class="client-logo"> <img class="img-responsive" src="http://www.incognitothemes.com/scoda/assets/images/clients/5.png" alt="05"/> </div>
          <div class="client-logo"> <img class="img-responsive" src="http://www.incognitothemes.com/scoda/assets/images/clients/6.png" alt="06"/> </div>
          <div class="client-logo"> <img class="img-responsive" src="http://www.incognitothemes.com/scoda/assets/images/clients/7.png" alt="07"/> </div>
          <div class="client-logo"> <img class="img-responsive" src="http://www.incognitothemes.com/scoda/assets/images/clients/8.png" alt="08"/> </div>
          <div class="client-logo"> <img class="img-responsive" src="http://www.incognitothemes.com/scoda/assets/images/clients/9.png" alt="09"/> </div>
          <div class="client-logo"> <img class="img-responsive" src="http://www.incognitothemes.com/scoda/assets/images/clients/10.png" alt="10"/> </div>
        </div>
      </div>
    </div>
  </section>