{% load i18n wagtailcore_tags wagtailimages_tags %}
<section id="Choose">
    <div class="container">
      <div class="row">
        <div class="col-md-3 feature-box text-center col-sm-6 wow zoomIn" data-wow-delay="0.1s"><a href="{% slugurl 'createsbtp' %}"> <i class="icofont icofont-globe-alt font-40px light-icon blue-bg-icon circle-icon fade-icon fade-icon-blue"></i></a>
          <h4 class="upper-case">SmartBusinessTechnologies</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
        </div>
        <div class="col-md-3 feature-box text-center col-sm-6 wow zoomIn" data-wow-delay="0.2s"> <a href="{% slugurl 'createsbmp' %}"><i class="icofont icofont-light-bulb font-40px light-icon pink-bg-icon circle-icon fade-icon fade-icon-pink"></i></a>
          <h4 class="upper-case">SmartBusinessMedia</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
        </div>
        <div class="col-md-3 feature-box text-center col-sm-6 wow zoomIn" data-wow-delay="0.3s"> <a href="createsblp"><i class="icofont icofont-rocket-alt-2 font-40px light-icon yellow-bg-icon circle-icon fade-icon fade-icon-yellow"></i></a>
          <h4 class="upper-case">SmartBusinessLaw</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
        </div>
        <div class="col-md-3 feature-box text-center col-sm-6 wow zoomIn" data-wow-delay="0.4s"><a href="createsbap"><i class="icofont icofont-molecule font-40px light-icon green-bg-icon circle-icon fade-icon fade-icon-green"></i></a> 
          <h4 class="upper-case">SmartBusinessAnalitycs</h4>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
        </div>
      </div>
    </div>
  </section>