{% load i18n wagtailcore_tags wagtailimages_tags %}
<section class="pt-0 pb-0">
    <div class="slider-bg flexslider">
      <ul class="slides">
        <!--=== SLIDE 1 ===-->
        <li>
          <div class="slide-img" style="background:url('http://www.incognitothemes.com/scoda/assets/images/slides/home-bg-6.jpg') center center / cover scroll no-repeat;" data-stellar-background-ratio="0.2"></div>
          <div class="hero-text-wrap">
            <div class="hero-text white-color">
              <div class="container text-center">
                <h3 class="white-color font-400">We Are Scoda Agency</h3>
                <h1 class="white-color font-700 letter-spacing-5 text-uppercase">SEO & Marketing</h1>
                <p class="text-center mt-30"><a href="#Choose" class="btn btn-color btn-circle btn-animate"><span>{% trans 'Choose your business project' %} <i class="icofont icofont-simple-right"></i></span></a> </p>
              </div>
            </div>
          </div>
        </li>
        <!--=== SLIDE 2 ===-->
        <li>
          <div class="slide-img" style="background:url('http://www.incognitothemes.com/scoda/assets/images/slides/home-bg-7.jpg') center center / cover scroll no-repeat;" data-stellar-background-ratio="0.2"></div>
          <div class="hero-text-wrap">
            <div class="hero-text">
              <div class="container text-center">
                <h3 class="white-color font-400">Marketing Solutions That Work</h3>
                <h1 class="white-color text-uppercase font-700 letter-spacing-5">Digital Marketing</h1>
                <p class="text-center mt-30"><a class="btn btn-color btn-circle btn-animate"><span>Register Now <i class="icofont icofont-simple-right"></i></span></a> </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>