{% load i18n wagtailcore_tags wagtailimages_tags %}
{% load widget_tweaks %}
{% load webapp_0_tags %}
{% load static %}
{% load menu_tags %}

<section class="parallax-bg-12 fixed-bg app-bg" data-stellar-background-ratio="0.2" id="review">
    <div class="gradient-overlay-bg"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 section-heading white-color">
          <h1 class="font-700"><span class="font-300">Take</span> quick overview<br>
            <span class="font-300">of this</span> App</h1>
          <a class="popup-youtube" href="https://www.youtube.com/watch?v=sU3FkzUKHXU">
          <div class="play-button mt-20"><i class="icofont icofont-ui-play"></i></div>
          </a> </div>
      </div>
    </div>
    <div class="bottom-shape-img-2">
      <img class="img-responsive" alt="wave-shape" src="http://www.incognitothemes.com/scoda/assets/images/slides/wave-2.svg" />
    </div>
  </section>